.btnAddColumn {
  flex-shrink: 0;
  align-self: flex-start;
  margin-left: 12px;
  padding: 12px;
  width: 270px;
  font-weight: 600;
  color: #fff;
  background-color: var(--primary);
  border-radius: 12px;
}
