.addItemForm {
  background-color: transparent;
  border-radius: 12px;
}

.addItemForm form {
  display: flex;
  flex-direction: column;
}

.titleInput {
  width: 100%;
  min-height: 41px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  border: 2px solid rgb(185 172 255);
  border-radius: 8px;
  resize: none;
  overflow: hidden;
}

.titleInput:focus {
  outline: none;
  border-color: var(--primary);
}

.titleInput::placeholder {
  color: #999;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.btnSubmit {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: var(--primary);
  border-radius: 6px;
}

.btnCancel {
  padding: 6px 12px;
  font-size: 14px;
  color: #44546f;
  border-radius: 6px;
}

.btnCancel:hover {
  background-color: rgb(185 172 255 / 0.2);
}
