.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow:
      0 1px 1px rgba(9, 30, 66, 0.13),
      0 0 1px rgba(9, 30, 66, 0.08);
}

.card + .card {
  margin-top: 10px;
}

.cardContent {
  padding: 8px 10px;
  width: 100%;
  min-height: 36px;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}